<% if current_user && current_user.liked_by?(shop.id) %>
<span class="material-icons"><%= link_to "favorite", f_destroy_path(shop), method: "delete", remote: true, id: "star" %>
</span>
<% elsif current_user %>
<span class="material-icons">
  <%= link_to "favorite_border", f_create_path(shop), method: "POST", remote: true, id: "star" %>
</span>
<% end %>