<h3>質問メッセージ 一覧</h3>
<% @chats.each do |chat| %>
<% user = chat.user %>
<ul>
  <li><%= link_to "#{user.name }とのメッセージ", ch_show_owner_path(chat.shop, chat_id: chat.id) %></li>
  <%= chat.messages.last.content %>
</ul>
<% end %>