$('.messages').append("<li class='message'><%= @message.content %><br><div class='sender'><%= Shop.find(params[:id]).name %><%= @message.created_at.strftime('%m/%d %H:%M')%></div></li>");
$('.js-form')[0].reset();
$('.js-message-errors').empty();