<%
=begin%>
<%= form_for(@calendar, url: {controller: 'calendars', action: 'create'}) do |f| %>
<table class="table">
  <thead>
    <tr class="thead-dark">
      <th><button id="prev" name="move" formaction="<% c_move_path %>" formmethod="get">前の週へ</button></th>
      <th id="yearMonth" colspan=6 class="text-center"></th>
      <th><button id="next" name="move" controller="calendars" action="move">次の週へ</button></th>
    </tr>
    <tr id="week" class="thead-light">
      <th class="child" id="today"></th>
      <th class="child" id="sun"></th>
      <th class="child" id="mon"></th>
      <th class="child" id="tue"></th>
      <th class="child" id="wed"></th>
      <th class="child" id="thu"></th>
      <th class="child" id="fri"></th>
      <th class="child" id="sat"></th>
    </tr>
  </thead>
  <tbody>
    <tr name="9:00">
      <th scope="row">9:00~</th>
      <td><input type="checkbox" id="0" name="hour[day][]"></td>
      <td><input type="checkbox" id="1" name="hour[day][]"></td>
      <td><input type="checkbox" id="2" name="hour[day][]"></td>
      <td><input type="checkbox" id="3" name="hour[day][]"></td>
      <td><input type="checkbox" id="4" name="hour[day][]"></td>
      <td><input type="checkbox" id="5" name="hour[day][]"></td>
      <td><input type="checkbox" id="6" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>10:00~</th>
      <td><input type="checkbox" id="7" name="hour[day][]"></td>
      <td><input type="checkbox" id="8" name="hour[day][]"></td>
      <td><input type="checkbox" id="9" name="hour[day][]"></td>
      <td><input type="checkbox" id="10" name="hour[day][]"></td>
      <td><input type="checkbox" id="11" name="hour[day][]"></td>
      <td><input type="checkbox" id="12" name="hour[day][]"></td>
      <td><input type="checkbox" id="13" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>11:00~</th>
      <td><input type="checkbox" id="14" name="hour[day][]"></td>
      <td><input type="checkbox" id="15" name="hour[day][]"></td>
      <td><input type="checkbox" id="16" name="hour[day][]"></td>
      <td><input type="checkbox" id="17" name="hour[day][]"></td>
      <td><input type="checkbox" id="18" name="hour[day][]"></td>
      <td><input type="checkbox" id="19" name="hour[day][]"></td>
      <td><input type="checkbox" id="20" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>12:00~</th>
      <td><input type="checkbox" id="21" name="hour[day][]"></td>
      <td><input type="checkbox" id="22" name="hour[day][]"></td>
      <td><input type="checkbox" id="23" name="hour[day][]"></td>
      <td><input type="checkbox" id="24" name="hour[day][]"></td>
      <td><input type="checkbox" id="25" name="hour[day][]"></td>
      <td><input type="checkbox" id="26" name="hour[day][]"></td>
      <td><input type="checkbox" id="27" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>13:00~</th>
      <td><input type="checkbox" id="28" name="hour[day][]"></td>
      <td><input type="checkbox" id="29" name="hour[day][]"></td>
      <td><input type="checkbox" id="30" name="hour[day][]"></td>
      <td><input type="checkbox" id="31" name="hour[day][]"></td>
      <td><input type="checkbox" id="32" name="hour[day][]"></td>
      <td><input type="checkbox" id="33" name="hour[day][]"></td>
      <td><input type="checkbox" id="34" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>14:00~</th>
      <td><input type="checkbox" id="35" name="hour[day][]"></td>
      <td><input type="checkbox" id="36" name="hour[day][]"></td>
      <td><input type="checkbox" id="37" name="hour[day][]"></td>
      <td><input type="checkbox" id="38" name="hour[day][]"></td>
      <td><input type="checkbox" id="39" name="hour[day][]"></td>
      <td><input type="checkbox" id="40" name="hour[day][]"></td>
      <td><input type="checkbox" id="41" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>15:00~</th>
      <td><input type="checkbox" id="42" name="hour[day][]"></td>
      <td><input type="checkbox" id="43" name="hour[day][]"></td>
      <td><input type="checkbox" id="44" name="hour[day][]"></td>
      <td><input type="checkbox" id="45" name="hour[day][]"></td>
      <td><input type="checkbox" id="46" name="hour[day][]"></td>
      <td><input type="checkbox" id="47" name="hour[day][]"></td>
      <td><input type="checkbox" id="48" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>16:00~</th>
      <td><input type="checkbox" id="49" name="hour[day][]"></td>
      <td><input type="checkbox" id="50" name="hour[day][]"></td>
      <td><input type="checkbox" id="51" name="hour[day][]"></td>
      <td><input type="checkbox" id="52" name="hour[day][]"></td>
      <td><input type="checkbox" id="53" name="hour[day][]"></td>
      <td><input type="checkbox" id="54" name="hour[day][]"></td>
      <td><input type="checkbox" id="55" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>17:00~</th>
      <td><input type="checkbox" id="56" name="hour[day][]"></td>
      <td><input type="checkbox" id="57" name="hour[day][]"></td>
      <td><input type="checkbox" id="58" name="hour[day][]"></td>
      <td><input type="checkbox" id="59" name="hour[day][]"></td>
      <td><input type="checkbox" id="60" name="hour[day][]"></td>
      <td><input type="checkbox" id="61" name="hour[day][]"></td>
      <td><input type="checkbox" id="62" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>18:00~</th>
      <td><input type="checkbox" id="63" name="hour[day][]"></td>
      <td><input type="checkbox" id="64" name="hour[day][]"></td>
      <td><input type="checkbox" id="65" name="hour[day][]"></td>
      <td><input type="checkbox" id="66" name="hour[day][]"></td>
      <td><input type="checkbox" id="67" name="hour[day][]"></td>
      <td><input type="checkbox" id="68" name="hour[day][]"></td>
      <td><input type="checkbox" id="69" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>19:00~</th>
      <td><input type="checkbox" id="70" name="hour[day][]"></td>
      <td><input type="checkbox" id="71" name="hour[day][]"></td>
      <td><input type="checkbox" id="72" name="hour[day][]"></td>
      <td><input type="checkbox" id="73" name="hour[day][]"></td>
      <td><input type="checkbox" id="74" name="hour[day][]"></td>
      <td><input type="checkbox" id="75" name="hour[day][]"></td>
      <td><input type="checkbox" id="76" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>20:00~</th>
      <td><input type="checkbox" id="77" name="hour[day][]"></td>
      <td><input type="checkbox" id="78" name="hour[day][]"></td>
      <td><input type="checkbox" id="79" name="hour[day][]"></td>
      <td><input type="checkbox" id="80" name="hour[day][]"></td>
      <td><input type="checkbox" id="81" name="hour[day][]"></td>
      <td><input type="checkbox" id="82" name="hour[day][]"></td>
      <td><input type="checkbox" id="83" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>21:00~</th>
      <td><input type="checkbox" id="84" name="hour[day][]"></td>
      <td><input type="checkbox" id="85" name="hour[day][]"></td>
      <td><input type="checkbox" id="86" name="hour[day][]"></td>
      <td><input type="checkbox" id="87" name="hour[day][]"></td>
      <td><input type="checkbox" id="88" name="hour[day][]"></td>
      <td><input type="checkbox" id="89" name="hour[day][]"></td>
      <td><input type="checkbox" id="90" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>22:00~</th>
      <td><input type="checkbox" id="91" name="hour[day][]"></td>
      <td><input type="checkbox" id="92" name="hour[day][]"></td>
      <td><input type="checkbox" id="93" name="hour[day][]"></td>
      <td><input type="checkbox" id="94" name="hour[day][]"></td>
      <td><input type="checkbox" id="95" name="hour[day][]"></td>
      <td><input type="checkbox" id="96" name="hour[day][]"></td>
      <td><input type="checkbox" id="97" name="hour[day][]"></td>
    </tr>
    <tr>
      <th>23:00~</th>
      <td><input type="checkbox" id="98" name="hour[day][]"></td>
      <td><input type="checkbox" id="99" name="hour[day][]"></td>
      <td><input type="checkbox" id="100" name="hour[day][]"></td>
      <td><input type="checkbox" id="101" name="hour[day][]"></td>
      <td><input type="checkbox" id="102" name="hour[day][]"></td>
      <td><input type="checkbox" id="103" name="hour[day][]"></td>
      <td><input type="checkbox" id="104" name="hour[day][]"></td>
    </tr>
  </tbody>
</table>

<%= f.submit label="申し込む"%>
<%= link_to "メッセージを送る", "#" %>
<% end %>

<script>
  const today = new Date();
  const thisYear = today.getFullYear();
  const thisMonth = today.getMonth();
  const thisDay = today.getDate();
  const Week = ["日", "月", "火", "水", "木", "金", "土"];
  let year = today.getFullYear();
  let month = today.getMonth();
  let day = today.getDate();
  let lastDate = new Date(year, month + 1, 0).getDate();
  let lastMonthLast = new Date(year, month, 0).getDate();
  let week = document.getElementById('week');
  let yearMonth = document.getElementById('yearMonth');

  // 上段の年月
  function describeWeek() {
    // 月末日を超えた場合
    if (day > lastDate) {
      month++;
      if (month > 11) {
        year++;
        month = 0;
      }
      day -= lastDate;
    }

    // 前月末日より遡った場合
    if (day < 1) {
      month--;
      if (month < 0) {
        month = 11;
      }
      day += lastMonthLast;
    }
    yearMonth.textContent = `${year}/${month + 1}`
  }

  // カレンダー右側の日付の記述
  function describeDate() {

    fir = new Date(year, month, day);
    se = new Date(year, month, day + 1);
    thi = new Date(year, month, day + 2);
    fou = new Date(year, month, day + 3);
    fif = new Date(year, month, day + 4);
    six = new Date(year, month, day + 5);
    sev = new Date(year, month, day + 6);

    f_d = fir.getDay();
    se_d = se.getDay();
    th_d = thi.getDay();
    fo_d = fou.getDay();
    fi_d = fif.getDay();
    si_d = six.getDay();
    se_d = sev.getDay();


    document.getElementById('sun').textContent = fir.getDate() + `(${Week[f_d]})`;
    document.getElementById('mon').textContent = se.getDate() + `(${Week[se_d]})`;
    document.getElementById('tue').textContent = thi.getDate() + `(${Week[th_d]})`;
    document.getElementById('wed').textContent = fou.getDate() + `(${Week[fo_d]})`;
    document.getElementById('thu').textContent = fif.getDate() + `(${Week[fi_d]})`;
    document.getElementById('fri').textContent = six.getDate() + `(${Week[si_d]})`;
    document.getElementById('sat').textContent = sev.getDate() + `(${Week[se_d]})`;
  }

  function createCalendar() {
    describeDate();
    describeWeek();
  }

  createCalendar();

  function crearCalendar() {
    const child = document.getElementsByClassName('child');
    for (let i = 1; i < 8; i++) {
      week.children[i].textContent = "";
    }
  }

  // 次の週に進む
  // document.getElementById('next').addEventListener('click', () => {
  //   day += 7;
  //   createCalendar();
  // });
  const next = document.getElementById('next');
  next.addEventListener('click', () => {
    next.value = `${day + 7}`;
    // console.log(day + 7);
    console.log(next.value);
    // createCalendar();
  });

  // 前の週に戻る
  document.getElementById('prev').addEventListener('click', () => {

    let now = new Date(thisYear, thisMonth, thisDay);
    let b_day = new Date(year, month, day);

    if (b_day.getTime() > now.getTime()) {
      day -= 7;
      crearCalendar();
      createCalendar();
    } else {
      return false;
    }
  });

  // 日付と時間の取得
  day7 = [fir, se, thi, fou, fif, six, sev]
  for (let i = 0; i < 7; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i].getTime() / 1000} 9:00`;
    });
  }

  for (let i = 7; i < 14; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-7]} 10:00`;
    });
  }

  for (let i = 14; i < 21; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-14]} 11:00`;
    });
  }

  for (let i = 21; i < 28; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-21]} 12:00`;
    });
  }

  for (let i = 28; i < 35; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-28]} 13:00`;
    });
  }

  for (let i = 35; i < 42; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-35]} 14:00`;
    });
  }

  for (let i = 42; i < 49; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-42]} 15:00`;
    });
  }
  for (let i = 49; i < 56; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-49]} 16:00`;
    });
  }
  for (let i = 56; i < 63; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-56]} 17:00`;
    });
  }
  for (let i = 70; i < 77; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-70]} 19:00`;
    });
  }
  for (let i = 77; i < 84; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-77]} 20:00`;
    });
  }
  for (let i = 84; i < 91; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-84]} 21:00`;
    });
  }
  for (let i = 91; i < 98; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-91]} 22:00`;
    });
  }
  for (let i = 98; i < 105; i++) {
    let self = document.getElementById(`${i}`);
    self.addEventListener('click', () => {
      self.value = `${day7[i-98]} 23:00`;
    });
  }
</script>
<%
=end%>